extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Greg Gordon

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            |  Greg Gordon started coding in 2016 where he learned about teamtreehouse.com. 
            |When he began to learn it was very difficult and just used it as a hobby learning little things. 
            |Then in 2018 he decided it was somthing he wanted to get into professional and started the teamtreehouse tech degree. 
            |In March of 2019 Greg completed the tech degree and started to work on his portfolio to jump into being a junior web developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Node.js
          li Javascript
          li Git
          li CSS 
          li HTML
          li PUG
          li JQuery
          li JSON
          li AJAX
        h6 Contact Info

        //- Add your own contact info
        ul
          li 714-251-8820
          li greggordon98@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/feed/?trk=nav_back_to_linkedin') LinkedIn
        a.button.expanded(href='https://github.com/papageg') GitHub
        a.button.expanded(href='https://twitter.com/greggordon98?lang=en') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  